.nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 30px;

    a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
    }
}